<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Evento</title>

</head>
<section layout:fragment="conteudo">

<h4>Cadastro de Evento</h4>

<div class="container">

<br />
<br />

<form class="container" action="/eventos" method="POST" th:object="${evento}">

<div layout:insert="mensagemErro"></div>

<div layout:insert="mensagemGeral"></div>

<br />

<input type="hidden" th:field="*{idEvento}" />

<div class="form-group">
<label for="nome">Nome: </label>
<input id="nome" class="form-control" type="text" th:field="*{nome}" />
</div>

<div class="form-group">
<label for="local">Local:</label>
<input id="local" class="form-control" type="text" th:field="*{local}"/>
</div>

<div class="form-group">
<label for="data">Data do evento:</label>
<input id="data" class="form-control" type="text" th:field="*{data}" />
</div>

<div class="form-group">
	<label for="horario">Horario:</label>
	<input id="horario" class="form-control" type="text" th:field="*{horario}" />
</div>

<button class="btn btn-primary" type="submit">Salvar</button>

</form>

</div>

</section>
</html>